body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    overflow: hidden;
}
.font-color {
    color: white;
}

/* #withGF {
    width: 100%;
    height: 100%;
    transition: transform 0.3s;
    border-radius: 0.3rem;
} */
#withGF:hover, #anniversaryImg:hover {
    transform: scale(1.01);
}

#waitDaysBox, #leftDaysBox {
    font-size: 3vw;
}
#dateBox, #infoBox :hover, #anniversaryImg:hover {
    cursor: pointer;
}

/* #lastAnniversaryImg, #nextAnniversaryImg {
    height: 15vh;
} */
#anniversaryImg{
    height: 18vh;
}

#userName, #loverName {
    font-size: 6vw;
}
#celebrateAnn {
    font-size: 4vw;
}

/* layout */
.flexCol {
    display: flex;
    flex-direction: column;
}
.flexRow {
    display: flex;
    flex-direction: row;
}
.centerH {
    align-items: center;
}
.centerV {
    justify-content: center;
}
.spaceBetween {
    justify-content: space-between;
}
.spaceAround {
    justify-content: space-around;
}

#pageContent {
    width: 100%;
    height: 100%;
}
#topBox {
    width: 100%;
    height: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;
}
#relationshipInfo, #progressAnniversary {
    width: 50%;
    height: 100%;
}
#relationshipInfo:hover {
    cursor: pointer;
    transform: scale(1.03);
}
#nameBox {
    width: 100%;
    height: 100%;;
    justify-content: space-around;
}
#dateBox, #infoBox {
    width: 100%;
    height: 100%;
}
#dateBox {
    font-size: 10vw;
}
#waitDaysBox, #leftDaysBox {
    width: 100%;
    height: 50%;
}

/* #middleBox {
    width: 100%;
    height: 30%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
#middleLeft, #middleRight {
    width: 50%;
    height: 100%;
} */

#relationshipInfoBack {
    width: 100%;
    height: 80%;
    padding-left: 5%;
    padding-right: 5%;
}
#relationshipInfoBack:hover {
    cursor: pointer;
    transform: scale(1.03);
}
.main3box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 100%;
    line-height: 1;
}
.boxContent {
    font-size: 1.5rem;
}
#daysTogether {
    background-color: #fbcabb;
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
}
#relDaysInMil {
    background-color: #f9b0c3;
}
#daysToDischarge {
    background-color: #e3abce;
}
#daysToNextAnni {
    background-color: #ceb6d9;
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
}

#bottomBox {
    width: 100%;
    height: 50%;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
}
#anniversaryDate {
    width: 100%;
    height: 25%;
}
#lastAnniversary{
    width: 20%;
    height:100%;
}
#nextAnniversary {
    width: 20%;
    height: 100%;
}
.coupleImg {
    height: 100%;
    width: 30%;
    /* border: 2px solid white;
    background-color: rgb(184, 184, 184, 0.5); */
    border-radius: 1rem;
}
.coupleImg:hover {
    cursor: pointer;
}
#withGF1, #withGF2, #withGF3 {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}
#withGF1:hover, #withGF2:hover, #withGF3:hover {
    transform: scale(1.05);
}
.fa-check-circle {
    color: green;
}
.fa-times-circle {
    color: gray;
}
.fa-times-circle:hover {
    cursor: pointer;
    transform: scale(1.1);
    color: rgb(90, 90, 90);
}
.imgSetting {
    width: 45%;
}
.uploadStatus {
    visibility: hidden;
    margin-bottom: 0.2rem;
}

/* modal css */
#picModal {
    overflow:hidden;
}
#modalContent {
    box-shadow: 0px 0px 1rem black;
}
#modalBody, #modalContent {
    border: none;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
}
#modalBody {
    padding: 1rem;
}
.modal-header {
    background-color: rgb(0, 123, 255);
    border: 1px solid rgb(0, 123, 255, 0.8);
    padding-bottom: 0;
    color: white;
}

#imgUpload1, #imgUpload2, #imgUpload3 {
    display: none;
}
.modal-header .close {
    padding: 0.4rem 0.5rem;
}
.close{
    color: white;
    text-shadow: none;
}
#modalContent {
    /* background-color: rgba(255, 255, 255, 0.8); */
    background-color: #F8F8FF;
    /* border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem; */
    border: none;
    height: 30%;
    width: 80%;
    margin: auto;
}

/* overlay effect */
.content {
    display: flex;
    /* width: 100%;
    height: 100%; */
    width: 30%;
    height: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
  
    position: relative;
    /* margin: 0.5rem; */
    overflow: hidden;
}
.content .content-overlay {
    background: rgba(0,0,0,0.7);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    /* -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s; */
    transition: all 0.4s ease-in-out 0s;
}
.content:hover .content-overlay{
    opacity: 1;
    border-radius: 1rem;
}

.content-image {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}

.content-details {
    position: absolute;
    text-align: center;
    /* padding-left: 1em;
    padding-right: 1em; */
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    /* -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%); */
    transform: translate(-50%, -50%);
    /* -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s; */
    transition: all 0.3s ease-in-out 0s;
}
.content:hover .content-details{
    top: 50%;
    left: 50%;
    opacity: 1;
    border-radius: 0.3rem;
}
.content-details .content-title{
    color: #eeeeee;
    font-weight: 500;
    margin-bottom: 0.5rem;
}
.content-icon > a > i {
    color: #eeeeee;
}
.content-icon > a > i:hover {
    color: #007bff;
}
  
.content-icon-settings {
    display: flex;
    align-items: center;
}
.content-icon-settings > a {
    text-decoration: none;
}
  
.fadeIn-bottom{
    top: 60%;
}

/* @media (max-width: 560px) and (min-height: 400px){ */
@media (max-height: 280px) {
    body{
        height: 280px;
        overflow-y: hidden;
    }
}
@media (max-width: 272px) {
    body{
        height: 400px;
        overflow-y: hidden;
        margin: auto;
    }
    #pageContent{
        width: 100% !important;
        height: 100%;    
        justify-content: center;  
        /* margin-top: -5%; */
    }
    #topBox{
        flex-direction: row !important;
        width: 100%;
        height: 40%;
        align-items: center;
        justify-content: space-evenly;
    }    
    #middleBox {
        flex-direction: column;
        height: 60%;
        width: 100%;
    }
    #middleLeft, #middleRight {
        width: 100%;
        height: 50%;
    }
    #relationshipInfo{
        width: 100%;
        height: 60%;
        justify-content: center;
    }
    #userName, #loverName {
        font-size: 10vh;
    }
    #dateBox{
        font-size: 25vw;
    }
    #waitDaysBox, #leftDaysBox{
        font-size: 8vw;
    }
    #bottomBox {
        display: none;
    }
    /* #middleBox, #anniversaryDate, .space{
        display: none !important;
    } */
    #modalContent {
        width: 100%;
    }
}
