body{
  background-image: url("img/1.jpg");
}

#main{
  padding: 10px;
  margin: auto;
  text-align: center;
  font-size: 45px;
  font-family: sans-serif;
  color: white;
  font-weight: bold;
  position: relative;
  top: 370px;
}

#searchUI{
  transition: width 0.5s;
  border: 1px solid black;
  width: 3em;
  height: 3em;
  border-radius: 0.6em;
  display: block;
}

#searchIco {
  float: left;
  width: 2em;
  height: 2em;
  padding-top: 0.5em;
  padding-left: 0.5em;
  display: inline;
}

#searchBar {
  float: left;
  display: none;
  width: 30em;
  border: 0px;
  margin-left: 0.6em;
  outline: none;
  position: relative;
  top: 0.5em;
  font-size: 22em;
}

/*#nameinput{
  padding: 5px;
  text-align: center;
  color: black;
  border: 0px;  
  border-bottom: 3px solid;
  background: transparent; text Ã«Â°ÂÃ­ÂÂ Ã­ÂÂ¬Ã«ÂªÂÃ­ÂÂÃªÂ²Â Ã«Â§ÂÃ«ÂÂ¤ÃªÂ¸Â°
  outline: none; 
  font-size: 45px;
  font-family: sans-serif;
  color: white;
  font-weight: bold;
  한국말 들어가는지 확인
}*/