#searchUI{
  transition: width 0.5s;
  border-radius: 10px;
  display: block;
  background-color: white;
  width: 50px;
  height: 50px;
}
#searchUI:hover {
  cursor: pointer;
}
#searchEngine {
  display: none;
  position: relative;
  width: 50px;
  height: 50px;
  transition: transform 0.3s;
}
#searchEngine:hover {
  cursor: pointer;
  transform: scale(1.2);
}
#searchIco {
  position: relative;
  z-index: 4;
  width: 50px;
  height: 50px;
}
#searchBar {
  /* transition: width 0.5s; */
  display: none;
  text-align: center;
  border: 0px;
  background-color: transparent;
  outline: none;
  font-size: 25px;
  height: 40px;
  font-weight: 100;
  position: relative;
  width: 0px;
  z-index: 3;
}
#searchIconImg {
  width: 35px;
  height: 35px;
}
#searchIconImg:hover {
  transform: scale(1.1);
}
/* .searchCenter{
  margin-top: 90px - 22.5px;
} */
#timeUI {
  padding: 10px 0 0 10px;
}
#dateDisplay {
  /* width: 150px;
  height: 1.2em; */
  font-size: 15px;
  display: inline;
}
#timeDisplay1, #timeDisplay2, #timeColon {
  /* width: 150px;
  height: 1.2em; */
  font-size: 45px;
  display: inline;
}
#weatherUI {
  padding: 10px 10px 0px 0px;
  display: inline-flex;
  text-align: center;
  width: 100%;
  height: 100%;
  font-size: 100%;
  justify-content: flex-end;
}
#weatherInfoArea {
  width: 100%;
}
#weatherIconArea, #weatherStatsArea {
  display: inline-flex;
  flex-direction: column;
  height: 100%;
}

#weatherIconArea {
  width: 45%;
}
.weatherIconImg {
  display: none;
  /* color: white; */
  height: 100%;
  display: inline;
}
#weatherIcon {
  height: 80%;
}
#weatherDesc {
  height: 20%;
}

#weatherStatsArea {
  width: 55%;
}
#currTempArea {
  height: 80%;
}
#currTemp {
  font-size: 2.5rem;
}
#currTempUnit {
  font-size: 1.5rem;
}
#tempMinMaxArea {
  display: inline-flex;
  flex-direction: column;
  height: 20%;
}
/* #tempMin, #tempMax {
  height: 50%;
} */
/* #cityInput{
  outline: none;
  text-align: center;
  border: none;
  background: transparent;
  border-bottom: 1px solid white;
  color: white;
  width: 9em;
  font-size: 18px;
} */
/* #submitWeather{
  background: white;
  border-radius: 1em;
  cursor: pointer;
  outline: none;
  border: none;
} */
