body{
  background-image: url("img/1.jpg");
}

#main{
  padding: 10px;
  margin: auto;
  text-align: center;
  font-size: 45px;
  font-family: sans-serif;
  color: white;
  font-weight: bold;
  position: relative;
  top: 370px;
}

#searchUI{ 
  transition: width 0.5s;
  width: 2em;
  height: 2em;
  border-radius: 0.6em;
  display: block;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}

#searchIco {
  width: 1em;
  height: 1em;
  padding-top: 0.5em;
  padding-left: 0.5em;
  display: inline;

}

#searchBar {
  text-align: center;
  display: none;
  width: 10em;
  border: 0px;
  margin-left: auto;
  position: relative;
  background-color: transparent;
  top: 0.45em;
  outline: none;
  font-size: 40px;
  
}

/*#nameinput{
  padding: 5px;
  text-align: center;
  color: black;
  border: 0px;  
  border-bottom: 3px solid;
  background: transparent; text ÃÂ«ÃÂ°ÃÂÃÂ­ÃÂÃÂ ÃÂ­ÃÂÃÂ¬ÃÂ«ÃÂªÃÂÃÂ­ÃÂÃÂÃÂªÃÂ²ÃÂ ÃÂ«ÃÂ§ÃÂÃÂ«ÃÂÃÂ¤ÃÂªÃÂ¸ÃÂ°
  outline: none; 
  font-size: 45px;
  font-family: sans-serif;
  color: white;
  font-weight: bold;
  íêµ­ë§ ë¤ì´ê°ëì§ íì¸
}*/